/* .navbar-brand, .nav-link {
  color: white;
} */

.body_padding {
  padding: 3rem 3rem 5rem 3rem;
}

.container_footer {
  display: flex;
  align-items: center;
}

.container_footer {
  background-color: #F5F5F5;
  
}
#job, #worker, #interest {
  color: blue;
}